#maindivdetailssingle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: fit-content;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 60px;
}

#mainpic {
    max-width: 800px;
    max-height: 450px;
    width: 100%;
}

#mainpicdiv {
    display: flex;
    gap: 20px;
}

.fontweightdetails {
    font-weight: 300;
}

#topgaph2details {
    margin-top: 0px;
}

/* #gapfromtopdetailsgroups {
    margin-top: 55px;
} */

#navlinkforgroupsfromdetails {
    margin-bottom: 4px;
    align-self: flex-start;
}

#joingroupdetails {
    margin-top: auto;
    margin-bottom: 6px;
    height: 35px;
    color: white;
    background-color: red;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}

#hiddenUser {
    display: none;
}

#textindetailsgroup {
    display: flex;
    flex-direction: column;
}

.eventspreviewgroupdetail {
    display: flex;
    gap: 13px;
    cursor: pointer;
}

.infonexttopicgroudetails {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.imageforgroupdetailsevent {
    max-height: 200px;
    width: 250px;
}

.timeforgroupsdetailsevent {
    margin-top: 0px;
}

#organizertext {
    margin-bottom: 0px;
}

#organizername {
    margin-top: 9px;
    font-weight: 200;
}

#whatwereabout {
    margin-top: 40px;
    margin-bottom: 0px;
}

#abouttextgroupdetails {
    margin-top: 9px;
    margin-bottom: 35px;
}

#allupcomingeventsgroudetails {
    align-self: flex-start;
}

.greybuttonsgroupdetails {
    color: white;
    background-color: gray;
    box-shadow: 3px 3px 5px black;
    height: 28px;
    cursor: pointer;
    width: max-content;
}

#greybuttondivdetailsgroup {
    margin-top: auto;
    display: flex;
    gap: 10px;
    margin-bottom: 6px;
}
