#modaldeleteconfirmgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confirmdeletemodalgroup {
    margin-bottom: 0px;
}

#buttonconfirmdeltetegroup {
    margin-bottom: 10px;
    background-color: red;
}

.buttonfordeletegroupmodal {
    width: 290px;
    height: 50px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

#buttonfornoonmodalgroupdelete {
    background-color: rgba(0, 0, 0, 0.704)
}
