#maindiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 27px;
}

.toptitle {
    display: flex;
    position: relative;
}

#toptitleevents {
    position: relative;
    right: 270px;
    text-decoration: none;
    font-size: 26px;
    font-weight: bolder;
    color: black;
}

#toptitlegroups {
    position: relative;
    right: 248px;
    text-decoration: none;
    font-size: 26px;
    font-weight: bolder;
    color: black;
}

#randomtagfornavlinkgroups a.active {
    color: teal;
    text-decoration: underline;
}

.toptitleh3 {
    position: relative;
    right: 233px;
}

.groupdiv {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.imagegroup {
    height: auto;
    width: 250px;
    height: 200px;
}

.textgroup {
    display: flex;
    flex-direction: column;
}

.groupnametext {
    margin-top: 0px;
    margin-bottom: 0px;
}

.groupcitytext {
    margin-top: 17px;
}

.groupprivatetext {
    margin-top: auto;
    margin-bottom: 3px;
}

.linedivingroup {
    min-width: 800px;
    max-width: 800px;
}
