#textareacreategroup {

}

.errormessagescreategroup {
    color: red;
}

#widthforgroupnamecreatgroup {
    width: 415px;
}

#creategroupbuttoncreatgroup {
    height: 50px;
    margin-bottom: 40px;
    color: white;
    background-color: red;
    box-shadow: 3px 3px 5px black;
    padding-left: 10px;
    padding-right: 10px;
}

#entiredivforcreategroupform {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 412px;
}

.hrgroupform {
    width: -webkit-fill-available;;
}
