#divholdingeverythingeventsdetailspage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: fit-content;
    /* padding-left: 60px;
    padding-right: 60px; */
}

#divnowholdingeverythingaddingbackgroudeventdetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: fit-content;
}

#mainpiceventdetails {
    max-width: 800px;
    max-height: 450px;
    width: 100%;
}

#buttonupdateevent {
    color: white;
    background-color: gray;
    box-shadow: 3px 3px 5px black;
    height: 28px;
    cursor: pointer;
    width: max-content;
}

#navlinkandeventnameeventdetails {
    /* width: 1170px; */
    margin-top: 47px;
    margin-bottom: 22px;
    align-self: flex-start;
}

#extradivtoholdtopstuffeventdetails {
    align-self: flex-start;
}

#descriptiondiveventdetails {
    /* width: 1170px; */
    align-self: flex-start;
}

#groupprevieweventsdetails {
    display: flex;
    gap: 30px;
}

#titleofeventeventdetails {
    font-size: 35px;
}

#groupdetailstoprightdivpreview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#groupnamegrouppreviewimage {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 800;
}

#privategroupdprevieweventsdetails {
    font-size: 20px;
    font-weight: 300;
    margin-top: 11px;
}

#imagegroupeventdetails {
    width: 200px;
    height: 125px;
}

#tooomanydivs {
    display: flex;
    gap: 14px;
    cursor: pointer;
}

.fa-clock {
    font-size: 30px;
}

#eventdetailsstarttimeendtime {
    display: flex;
    gap: 15px;
}

.timeforeventdetials {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 500;
}

#divholdingclock {
    display: flex;
    align-items: center;
}

.fa-dollar-sign {
    font-size: 30px;
    margin-left: 7px;
}

#divholdingtimeandclock {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#divholdingpriceeventdetails {
    display: flex;
    align-items: center;
    gap: 19px;
}

#didntknowicanincreasefontsizehere {
    font-size: 20px;
}

.fa-map-pin {
    font-size: 30px;
    margin-left: 6px;
}

#eventdetailsstarttimeendtimemaindiv {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

#divholdingmappinandlocation {
    display: flex;
    gap: 21px;
}

#eventtpyeeventdetails {
    display: flex;
    align-items: center;
    font-size: 20px;
}

#imsotiredofcomingupwithnames {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#divholdingdeleteforeventdetails {
    margin-left: 4px;
    margin-top: 6px;
}

#innerdivupdatedeleteeventbuttons {
    display: flex;
    gap: 11px;
}
